/* ======= Global Styles ====== */
* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ===== Header styles ===== */

/* ===== Hero section styles ===== */

.hero {
  background: url('./img/mission-background.jpg') no-repeat center;
  min-height: 700px;
}
